<!DOCTYPE html>
{% load i18n %}
{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Author: Barış Salman,
        This is the personal website.
        It contains my notes, blog posts, and bioinformatics scripts.">

    <link rel="shortcut icon" href="{% static 'base/img/fav.ico' %}" />
    <link rel="stylesheet" href="{% static 'base/css/latex.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>{% block title %}omics.sbs{% endblock %}</title>
    <script async src="https://analytics.umami.is/script.js"
        data-website-id="c0d0b77c-5c98-4814-9721-bb72437e9467"></script>
</head>

<body>
    <script type="text/javascript">
        if (localStorage.darkMode == "true") {
            document.body.classList.add("latex-dark");
        }
        else {
            document.body.classList.remove("latex-dark");
        }
        if (localStorage.typeface == "Libertinus") {
            document.body.classList.add("libertinus")
        }
        else {
            document.body.classList.remove("libertinus")
        }
    </script>

    <ul id="navbar">
        <li>
            <a href="{% url 'base:index' %}">Home</a>
        </li>
        <li>
            <a href="https://omics.sbs/blog">Blog</a>
        </li>
        <li>
            <a href="{% url 'base:notes' %}">Notes</a>
        </li>
        <li>
            <a href="{% url 'bioscripts:index' %}">Bioscripts</a>
        </li>
        <li class="preferences">
            <button class="dark-mode-button" id="dark-mode-toggle" aria-label="Toggle color mode"
                title="Toggle color mode">
                <div class="sun">
                </div>
                <div class="moon">
                    <div class="star"></div>
                    <div class="star small"></div>
                </div>
            </button>
        </li>
        <li class="preferences">
            <input type="button" id="typeface-toggle" title="" value="Aa">
        </li>
    </ul>

    </br>

    <p style="display:none;">
        base/base.html</br>
    </p>
    {% block content %} {% endblock %}
</body>

<script src="{% static 'base/js/script.js' %}"></script>

</html>
