<!DOCTYPE html>
{% load i18n %}
{% load static %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'base/img/fav.ico' %}" />
    <link rel="stylesheet" href="{% static 'base/css/latex.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>{% block title %}omics.sbs{% endblock %}</title>

</head>

<body>
    <script type="text/javascript">
        if (localStorage.darkMode == "true") {
            document.body.classList.add("latex-dark");
        }
        else {
            document.body.classList.remove("latex-dark");
        }
    </script>

    <ul id="navbar">
        <li>
            <a href="{% url 'base:index' %}">Home</a>
        </li>
        <li>
            <a href="https://omics.sbs/blog">Blog</a>
        </li>
        <li>
            <a href="{% url 'bioscripts:index' %}">Bioscripts</a>
        </li>
        <li>
            <button class="dark-mode-button" id="dark-mode-toggle" aria-label="Toggle color mode"
                title="Toggle color mode">
                <div class="sun">
                </div>
                <div class="moon">
                    <div class="star"></div>
                    <div class="star small"></div>
                </div>
            </button>
        </li>
    </ul>

    </br>

    <p style="display:none;">
        base/base.html</br>
    </p>
    {% block content %} {% endblock %}
</body>

<script src="{% static 'base/js/script.js' %}"></script>

</html>
