{% extends "base/base.html" %}
{% block content %}
<p style="display:none;">
    base/index.html</br>
</p>

I am a molecular biologist and geneticist with a keen interest in bioinformatics, biostatistics, and computational
biology studying neurological and developmental rare diseases. This blog is mostly about these topics.

<p> You can view my cv as
    <a href="blog/cv/cv.pdf"> pdf</a> or as <a href="blog/cv/cv.html">html</a>
</p>

<h3>
    scripts and cookies on the website
</h3>
<p>
    There are few scripts on this website. One of them is the umami script that tracks the <a
        href="https://analytics.umami.is/share/bh9US90PSSNpgfhK/omics.sbs">website analytics</a>.
    The other script is the next.js app that runs the notes section of the website.
    There are also scripts that makes the blogs more readable like mathjax and prismjs.
    There are no cookies other than django's csrf token.
</p>

<h3>Other links</h3>
<ul class="other-links">
    <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/ORCID_iD.svg" alt="ORCID ID icon" />
        <a id="cy-effective-orcid-url" href="https://omics.sbs/orcid" target="orcid.widget"
            rel="me noopener noreferrer"> Orcid </a>
    </li>
    <li>
        <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" alt="linkedin icon">
            <!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) -->
            <path
                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z" />
        </svg>
        <a href="https://omics.sbs/linkedin"> Linkedin </a>
    </li>
    <li>
        <img width=16 height=16 src="https://www.biostars.org/static/images/logo6.svg#svgView(viewBox(0, 0, 130, 150))"
            alt="biostars icon">
        <a href="https://omics.sbs/biostars"> Biostars </a>
    </li>
    <li>
        <img width=16 height=16 src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
            alt="github icon">
        <a href="https://omics.sbs/github"> Github </a>
    </li>
    <li>
        <img width=16 height=16 src="https://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg" alt="rss icon">
        <a href="https://omics.sbs/feeds/feed.xml"> RSS </a>
    </li>

</ul>


<style>
    ul.other-links>li {
        display: inline-block;
    }

    ul.other-links>li>img {
        width: 16px;
        display: inline-block;
    }

</style>
{% endblock %}
