{% extends "base/base.html" %} {% load static %} {% block extra_head %}
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'base/lg/css/lightgallery.css' %}"
/>

<!-- lightgallery plugins -->
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'base/lg/css/lg-zoom.css' %}"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="{% static 'base/lg/css/lg-thumbnail.css' %}"
/>

<script src="{% static 'base/lg/lightgallery.min.js' %}"></script>

<!-- lightgallery plugins -->
<script src="{% static 'base/lg/plugins/thumbnail/lg-thumbnail.umd.js' %}"></script>
<script src="{% static 'base/lg/plugins/zoom/lg-zoom.umd.js' %}"></script>
{% endblock %} {% block content %}

<!-- <a href="https://omics.sbs/photos/">
  <img alt="img1" src="https://omics.sbs/photos/" />
</a> -->

<div class="container" id="lightgallery">
  <a href="https://omics.sbs/photos_/_DSC0899.JPG">
    <img alt="Asu" src="https://omics.sbs/photos_/_DSC0899.thumb.JPG" />
  </a>
  <a href="https://omics.sbs/photos_/DSC_2094.JPG">
    <img
      alt="Iphiclides podalirius"
      src="https://omics.sbs/photos_/DSC_2094.thumb.JPG"
    />
  </a>
  <a href="https://omics.sbs/photos_/DSC_2238.JPG">
    <img alt="Hoverfly" src="https://omics.sbs/photos_/DSC_2238.thumb.JPG" />
  </a>
  <a href="https://omics.sbs/photos_/_DSC4521.JPG">
    <img
      alt="Corvus cornix"
      src="https://omics.sbs/photos_/_DSC4521.thumb.JPG"
    />
  </a>
  <a href="https://omics.sbs/photos_/_DSC4846.JPG">
    <img
      alt="Laodicea western theatre"
      src="https://omics.sbs/photos_/_DSC4846.thumb.JPG"
    />
  </a>
  <a href="https://omics.sbs/photos_/_DSC4890.JPG">
    <img
      alt="Laodicea roosters"
      src="https://omics.sbs/photos_/_DSC4890.thumb.JPG"
    />
  </a>
  <a href="https://omics.sbs/photos_/_DSC5173.JPG">
    <img
      alt="Basilica of St. John"
      src="https://omics.sbs/photos_/_DSC5173.thumb.JPG"
    />
  </a>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px 12px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". . . .";
  }
</style>

<script type="text/javascript">
  lightGallery(document.getElementById("lightgallery"), {
    plugins: [lgZoom, lgThumbnail],
    speed: 500,
    thumbnail: true,
  });
</script>

{% endblock %}
